#sidebarMenu {
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 0px;
  transform: translateX(-100%);
  transition: transform 100ms ease-in-out;
  margin-left: 0px;
  /* background-color: gray; */
  background: linear-gradient(-45deg, #404040, #bfbfbf);
  z-index: 70;
  height: 100% !important;
  padding: 10px;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  /* border-top: 1px solid rgba(255, 255, 255, 0.708); */
}
.sidebarMenuInner li {
  list-style: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.708); */
  text-align: center;
  z-index: 99;
}
.sidebarMenuInner li span {
  display: block;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.824);
  letter-spacing: 5px;
  text-align: center;
}

#title {
  letter-spacing: 2px;
}

#title > a {
  font-size: 25px;
}

.sidebarMenuInner li a {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: fixed;
  height: 3px;
  width: 100%;
  background-color: #333;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
