@media screen and (max-width: 375px) {
  .top > a {
    top: 280px;
  }
}

@media screen and (max-width: 414px) {
  .top > a {
    top: 321px;
  }

  /* #sidebarMenu{
    height: 555px !important;
  } */
}

@media screen and (max-width: 480px) {
  .arrowWrap{
    display: none;
  }

  .imgbox{
    height: 200px;
    width: 280px;
    margin: 0 auto;
  }
  .imgbox2{
    height: 180px;
    width: 280px;
    margin: 0 auto;
  }

  .header_menu{
    display: none;
  }

  .sidebarIconToggle{
    position: fixed;
    top: 20px;
    right:20px;
  }

  .main h1{
    font-size: 50px;
  }

  .list_block{
    padding: 10px;
  }


  .menu{
    display: none;
  }
  /*画面幅が480pxまでの時*/
  /* #sidebarMenu{
    height: 500px;
  } */

  header{
    display: none;
  }

  .top > h1 {
    font-size: 60px;
    position: relative;
    top: 75;
  }

  .top > a {
    padding: 0;
  }

  .top > h1 {
    letter-spacing: 4px;
  }


  .top {
    background-image: url("/static/images/campus6.png");
    background-size: contain;
    background-position: top;
    height: 75%;
  }

  .sidebarbrock1{
    display: none;
  }

  .sidebarbrock2{
    width: 90%;
    height: 90%;
    text-align: center;
  }

  .sidebarMenuInner{
    margin: 0 auto !important;
    padding-top: 50px !important;
  }

  .sidebarMenuInner li{
    text-align: center !important;
  }

  .sidebarMenuInner li a{
    color: whitesmoke !important;
    text-align: center;
  }

  .smart_title  span{
    display: block;
  font-size: 15px;
  color: whitesmoke ;
  letter-spacing: 5px;
  text-align: center;
  }

  .Internal_links{
    display: none;
  }

  .smart_title{
    color: whitesmoke !important;
    font-size: 70px;
    font-weight: 200;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }
  
  .spinner{
    background-color: whitesmoke !important;
  }

  /* ページTOPに戻る */
  .pagetop {
    display: none;
    position: fixed;
    right: 15px;
    bottom: -10px;
  }
  .pagetop a {
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background:skyblue;
    border-radius: 50%;
    line-height: 50px;
  }
  .pagetop a i {
    font-size: 20px;
    color: #fff;
    line-height: 50px;
  }
  /* .top-header {
    border-bottom: none;
    background-color: none;
  } */

  .main {
    position: absolute;
    top: 60px !important;
    width: 100%;
  }
  .flex {
    width: 100%;
  }
  .main > h2 {
    /* color: #333; */
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #faq {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .description{
    height: auto;
  }
  hr {
    display: none;
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  .cp_actab {
    position: relative;
    bottom: 25px;
  }


  .follower{
    display: none;
  }
  .cursol{
    display: none;
  }

  .right{
    width: 100%;
    height: auto;
  }

  .left{
    display: none;
  }

  


  .sentence h3{
    color: skyblue;
    
  }

  .sentence{
    margin-bottom: 50px;
  }

  .button{
    border: solid 1px #333;
    position: relative;
    margin: 10px;
    margin-top: 60px;
    height: 50px;
    padding-bottom: ;
  }

  .content h2{
    color: #333;
    margin: 0 auto;
    /* text-align: center; */
    letter-spacing: 5px;
    /* text-decoration: underline;
    text-decoration-color: #009877;
    border-width: 1px; */
    font-weight: 200;
  }

  #first_title{
    display: none;
  }

  #first_title2 {
    font-size: 40px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
    
  }

  #second_title{
    display: none;
  }

  #second_title2{
    font-size: 40px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
  }

  #third_title{
    display: none;
  }

  #third_title2{
    font-size: 40px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
  }

  .read{
    display: none;
  }

  .content{
    height: auto;
  }

  .read_small{
    position: absolute;
    top: 0;
    left: 0;
    
    text-decoration: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; /*上下左右中央に*/
    width: 100%; /*widthの指定は必須*/
    height: auto; /*heightの指定は必須*/
  }

  .read_small p{
    color: #333;
    position: relative;
    text-align: center;
  }

  .footer_menu li{
    padding: 0;
  }

  .footer_block h2{
    padding-top: 50px;
  }
  
}

@media screen and (min-height: 812px) {
  /*画面幅が781px以上の時*/
  .top > a {
    top: 270px;
  }
  .top > h1 {
    position: absolute;
    top: 200px;
  }

  /* #sidebarMenu{
      height: 500px !important;
    } */
}

@media screen and (min-width: 781px) {
  /*画面幅が781px以上の時*/
  .imgbox{
    height: 500px;
    width: 700px;
  }
  .imgbox2{
    height: 400px;
    width: 700px;
  }

  .main > h2 {
    margin: 0;
  }


  .flex {
    display: flex;
    padding: 0em;
    flex-wrap: wrap;
    height: 2000px;
  }
  .top h1{
    position: absolute;
    left: 50px;
    top: 200px;
  }

  /* ページTOPに戻る */
  .pagetop {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 1%;
  }
  .pagetop a {
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background: skyblue;
    border-radius: 50%;
    line-height: 50px;
  }
  .pagetop a i {
    font-size: 20px;
    color: #fff;
    line-height: 50px;
  }

  .top {
    background-image: url("/static/images/campus5.png");
    background-size: cover;
    
  }

  .sidebar_title{
    height: fit-content;
  }

  .smart_title{
    display: none;
  }



  .sentence h3{
    color: skyblue;
    
  }

  .sentence{
    color: #333;
  }

  .content h2{
    color: #333;
    margin: 0 auto;
    /* text-align: center; */
    letter-spacing: 5px;
    /* text-decoration: underline;
    text-decoration-color: #009877;
    border-width: 1px; */
    /* animation-name: fadeup;
    animation-duration: 2s;
    animation-iteration-count: 1; */
    font-weight: 200;
  }

  .read_small{
    display: none;
  }

  .button{
    display: none;
  }


  #first_title {
    font-size: 50px;
  }

  #first_title2{
    display: none;
  }

  #second_title{
    font-size: 50px;
  }

  #second_title2{
    display: none;
  }

  #third_title {
    font-size: 50px;
  }

  #third_title2{
    display: none;
  }

  footer {
    display: flex;
  }

  footer > a {
    display: inline-block;
  }

 

  .sidebarIconToggle{
    top: 85px;
    right: 70px;
  }

  /* #sidebarMenu {
    position: fixed;
    right: 0;
    width: 20% !important;
    margin-top: 0px;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    margin-left: 0px;
    /* background-color: gray; */
    /* background: linear-gradient(-45deg, #404040, #bfbfbf); 
    z-index: 70;
    height: 100% !important;
  } */

  .sidebarbrock1{
    /* width: 49.5%; */
    width: 64.5%;
    height: 100%;
    display: flex;
    text-align: center;
    background-color: #8ca5a2;
  }

  .sidebarbrock2{
    /* width: 49.5%; */
    width: 35.3%;
    height: 100%;
    display: flex;
    text-align: center;
    background-color: #9caeac;
  }

  .sidebarMenuInner li a {
    font-size: 50px;
    color: whitesmoke;
  }

  


  /* .top-header {
    display: none;
  } */
  

  .menu{
    font-size: 18px;
    margin-top: 80px;
    color: whitesmoke;
    position: fixed;
    right: 120px;
  }

  /* label > div{
    display: none;
  }  */

  /* .sidebarIconToggle{
    display: none;
  } */

  #left{
    border-right: solid 1px whitesmoke;
  }

  


  .description {
    height: auto;
  }

  .cp_actab {
    position: relative;
    bottom: 44px;
  }

  .middle{
    /* background-image: url("/static/images/campus3.png");
    background-size: cover; */
    background-color: transparent;
    height: 250px;
    padding: 0em;
  }

  .footer_block{
    margin-top: 70px;
    padding-bottom: 100px;
  }

  /* .image_line{
    height: 220px;
    width: 90px;
    position: relative;
    margin: 0 auto;
    bottom: 50%;
  }
  .image_line img{
    margin-top: 0em;
  } */
  /* .internal_links{
    color: #333;
    font-size: 30px;
    font-weight: 200;
    margin: 10px;
    width: 160px;
    height: auto;
    position: absolute;
    bottom: 0em;
  }

  .external_links{
    color: #333;
    font-size: 30px;
    font-weight: 200;
    margin: 10px;
    width: 170px;
    height: auto;
    position: absolute;
    bottom: 0;
  } */

  .Internal_links{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 200;
    margin: 10px;
    width: 160px;
    height: auto;
    position: absolute;
    bottom: 0em;
  }

  .External_links{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 200;
    margin: 10px;
    width: 170px;
    height: auto;
    position: absolute;
    bottom: 0;
  }

  .sidebarbrock1 a{
    color: whitesmoke;
    font-size: 80px;
    font-weight: 200;
    text-decoration: none;
    margin: 10px;
  }

  .sidebarbrock1 a span{
    display: block;
    font-size: 15px;
    color: whitesmoke;
    letter-spacing: 5px;
    text-align: center;
  }

  .left {
    width: 50%;
    height: 3000px;
    background-color: #d9d9c0;

  }

  .right {
    width: 50%;
    height: 3000px;
    background-color: whitesmoke;
  }

  .content{
    position: fixed;
    height: 340px;
    width: 340px;
    top:calc(50% - 340px/2);
    right: 11%;
  }

  .thumbnail{
    width: 60%;
    height: 30%;
    margin: 30px;
    position: fixed;
    top: calc(50% - 380px/2);
    left: 5%;
  }

  .thumbnail img {
    width: inherit;
  }

  .kiis_thumbnail{
    width: 40%;
    height: 50%;
    margin: 30px;
    position: fixed;
    top: calc(50% - 380px/2);
    left: 13%;
  }

  .kiis_thumbnail img {
    width: inherit;
    border-radius: 30px;
  }

  /* アニメーション設定 */

.arrow {
  width: 15px;
  margin: 0 auto;
  -webkit-animation: arrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;
  animation: arrow 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;
  display: flex;
  position: fixed;
  top: 85%;
  left: 45%;
}

.arrow span {
  /* position: relative;
  display: block;
  left: 50%; */
}
.arrow p{
  font-size: 30px;
  margin-left: 40px;
}

.arrow_hide{
  display: none;
}

.arrow span:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 0;
  border-top: solid 2px whitesmoke;
  border-right: solid 2px whitesmoke;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
}

@keyframes arrow {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  100% {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%, -8px, 0);
    transform: translate3d(-50%, -8px, 0);
  }
}

.stickarrow {
  width: 90px;
  height: 8px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  transform: skew(45deg);
  margin-left: 10px;
}

  .fixed{
    position: fixed;
    top: 0;
  }

  #main_title{
    color: #333;
    font-size: 75px;
    letter-spacing: 5px;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }

  #main_title span {
    display: block;
    font-size: 15px;
    color: #333;
    letter-spacing: 5px;
    text-align: center;
  }

  #line_text{
    margin-top: 70px;
    width: inherit;
  }

  .line_add{
    width: 250px;
    height: 50px;
    background-color: #1dcd00;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .line_add p{
    color: whitesmoke;
    margin: 0 auto;
    width: fit-content;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 3px;

  }

}



