{% extends "layout.html" %}
{% block content %}
<div class="main">
    <h2>MacのPCでWindowsを動かす方法</h2>
    <p class="red">九州情報大学ではMacの使用は推奨していません。PCクリニックでもサポートできない場合があります。</p>
    <div class="block">
        <p>MacのPCでWindowsを動かすにはいくつか方法がありますが、PCクリニックで受け付けているのはBootcampになります。</p>
        <p>BootcampでWindowsを入れる場合はご自身でライセンスを購入してPCクリニックに持ってきてください。</p>
        <br>
    
        <h2>インストール</h2>
        <p><a href="https://support.apple.com/ja-jp/HT201468">Boot Camp アシスタントで Mac に Windows 10 をインストールする</a></p>
        <h2>起動方法</h2>
        <p><a href="https://pc-karuma.net/bootcamp-mac-windows-run/">Boot Camp - MacとWindowsの起動を切り替える方法</a></p>
    </div>
</div>

{% endblock %}