{% extends "layout.html" %}
{% block content %}
<div class="main">
    <h2>ネットワークに繋がらないとき</h2>
    
    <div class="block">
        <p>いくつか方法を紹介するので試してみてください。</p>
        <p　class="red">解決できなかったり、自信がない人はぜひPCクリニックにきてください！</p>
        <ol type="1" class="connect">
            <li>PCを再起動してみる</li>
            <li>接続しているWi-fiの設定を一度削除する</li>
            <ol type="i">
                <li>ホーム画面左下のWindowsロゴを右クリックし「ネットワーク接続」を選択する</li>
                <li>「ネットワークとインターネット」の設定画面が開くので、左側のメニューから「Wi-Fi」を選択し、「既知のネットワークの管理」を選択する</li>
                <li>保存されているWi-Fi接続先が表示されます。接続先の名称を選択して表示されるメニューから「削除」を選択する</li>
                <li>削除後にタスクバーのネットワーク設定アイコンを選択し、接続先とセキュリティキーを再設定する</li>
            </ol>
            <li>ネットワークアダプターの設定を確認する</li>
            <p>IPアドレスが固定されていると使えない場合があるため試してください</p>
            <ol type="i">
                <li>画面左下のWindowsロゴを右クリックし「ネットワーク接続」を選択する</li>
                <li>ネットワークとインターネット」の設定画面が開くので、左側のメニューから「イーサネット」を選択し、「アダプターのオプションを変更する」を選択する</li>
                <li>「ネットワーク接続」のウィンドウが開くので、Wi-Fiかイーサネットのアイコンにカーソルを合わせ右クリックし、プロパティを開く</li>
                <li>「ネットワーク」タブより、「この接続は次の項目を使用します」のなかにある「インターネットプロトコルバージョン4(TCP/IPv4)」にカーソルを合わせダブルクリックする</li>
                <li>「IPアドレスを自動的に取得する」と「DNSサーバーのアドレスを自動的に取得する」にチェックを入れてOKを押す</li>
            </ol>
            <li>ネットワークアダプターのドライバをアンインストールする</li>
            <p>ネットワークアダプターのドライバの確認と再インストールを下記の手順で試してみる</p>
            <p class="red">※ドライバーの再インストールに関しては、正常に動作しなくなる場合があるので、十分ご注意ください。</p>
            <ol type="i">
                <li>画面左下のWindowsロゴを右クリックし「デバイスマネージャー」を選択する</li>
                <li>デバイスマネージャーの「ネットワークアダプター」を表示する</li>
                <p class="red">「Wi-Fi」や「Wireless」、「IEEE802.11」、「Centrino」等の記載のあるものがWi-Fi接続用のネットワークアダプターになります。（表記は製品ごとに異なります。）また、「Gigabit」や「Ethernet」といった表記のあるものは有線LAN用のネットワークアダプターになります。</p>
                <li>該当するネットワークアダプターにカーソルを合わせ右クリックする。表示されるメニューから「ドライバのアンインストール」を選択する。</li>
                <li>確認画面が表示されるので「アンインストール」を選択する</li>
                <p class="red">アンインストール完了後にパソコンを再起動するとドライバが自動的に更新されます。デバイスマネージャー上でネットワークアダプターが正常に認識しているかを確認してください</p>
            </ol>
        </ol>
        <br>
        

    </div>
</div>

{% endblock %}