{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h1 >FAQ</h1>
    <h2>よくある質問</h2>
        <p id="center">九州情報大学PCクリニックでよく受け付ける質問について回答をまとめました。</p>
        <p id="center">その他詳しく記載したものは<a href="{{url_for('qalist')}}">こちら</a></p>
    <div class="block">
        <h2 id="sub">PCの設定</h2>
        
        <div class="cp_qa">
            <div class="cp_actab">
                <input id="cp_tabfour021" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour021" id="hover">PCのsetupの方法を教えてください。</label>
                <div class="cp_actab-content"><p><a href="{{url_for('setup')}}">こちら</a>にsetupの方法一覧が記載してあるので参考にしてください。また、初回の情報リテラシーの授業時に
                    渡されたSurfin'the Internet via Kiis-Net (九州情報大学ネットワーク利用ガイドライン)にも同じ内容
                が記載してあります。</p></div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour022" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour022" id="hover">ウイルス対策ソフト何を使うべきですか？</label>
                <div class="cp_actab-content">特に指定はありません。PCCにてインストールできるウイルスバスターのほか、個人で使用しているものでも構いません。
                    大学で使用するPCには必ずウイルス対策ソフトをインストールしてください。<a href="{{url_for('virusbuster_pcc')}}"><p>ウイルスバスターのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour023" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour023" id="hover">webメールの使い方を教えてください。</label>
                <div class="cp_actab-content">こちらに詳しく記載しています。ブラウザでアクセスがうまくいかない場合はGoogle chromeを使用してください。</div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour024" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour024" id="hover">shareフォルダの作成方法を教えてください</label>
                <div class="cp_actab-content">デスクトップで右クリック→新規作成→ショートカット→「¥¥svr260007¥share」を入力→
                    （ユーザー名:kiisnw¥z学籍番号　パスワード:ネットワークのパスワード）を入力　で作成できます。
                </div>
            </div>
        </div>
        <h2 id="sub">Officeについて</h2>
        <div class="cp_qa">
            <div class="cp_actab">
                <input id="cp_tabfour025" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour025" id="hover">Officeをインストールしたいです。</label>
                <div class="cp_actab-content">Officeのインストールは学生個人ではできません。PCクリニックで対応しているので
                    PCクリニックでスタッフに相談してください。<a href="{{url_for('office_pcc')}}"><p>Officeのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>

            </div>
            <div class="cp_actab">
                <input id="cp_tabfour026" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour026" id="hover">Officeの画面でIDとパスワードの入力を求める画面が消えません。</label>
                <div class="cp_actab-content">こちらに詳しく記載しています。<a href="{{url_for('office_id')}}"><p>Officeでパスワードを聞かれる時</p></a>
                </div>
            </div>
        </div>
        <h2 id="sub">Macについて</h2>
        <div class="cp_qa">
            <div class="cp_actab">
                <input id="cp_tabfour027" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour027" id="hover">大学でMacのPCを使用してもいいですか？</label>
                <div class="cp_actab-content">Macを使っても構いませんが、大学では先生方がWindowsのPCを使って授業をされることが多いため、
                    WindowsのPCを使用することを推奨しています。
                    
                </div>

            </div>
            <div class="cp_actab">
                <input id="cp_tabfour028" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour028" id="hover">MacのPCでWindowsを使いたいです。</label>
                <div class="cp_actab-content">Bootcampというソフトを使用してインストールする方法をおすすめします。PCクリニックでもインストール作業は対応しています。
                    ただし、Windowsのライセンスを購入してPCクリニックに一緒に持ってきてください。</p>
                </div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour029" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour029" id="hover">MacでWi-fi(KIISWLAN)に接続したいです。</label>
                <div class="cp_actab-content">こちらに詳しく記載しています。<a href="{{url_for('wifi_mac')}}"><p>Wi-fiに接続する方法(Mac)</p></a>
                </div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour030" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour030" id="hover">Macで共有フォルダ(share)に接続したいです。</label>
                <div class="cp_actab-content">こちらに詳しく記載しています。<a href="{{url_for('share')}}"><p>共有フォルダ(share)に接続する方法</p></a>
                </div>
            </div>
        </div>
        <h2>今後も随時更新していく予定です</h2>
    </div>
</div>

{% endblock %}