{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>九州情報大学G Suite for Educationについて</h2>
    <hr class="cp_hr05" />
    <p>大学メールへのアクセスはGmailで行うことができます</p>
    <a href="https://mail.google.com/a/std.kiis.ac.jp">ログインページ</a>
    <p>ログインの情報は以下のリンクから確認してください</p>
    <a href="https://www.kiis.ac.jp/gakunai/mic/001_google_account_login.pdf">ログイン方法について（PDF）</a>

    <p>G Suiteのアカウント・パスワードについて</p>
    <div class="block">
        <p>G Suiteのアカウントへログインするには、以下の情報が必要です。</p>
        <ul>
            <li>九州情報大学ネットワークへのログインID(z学籍番号)がz13579の場合、<br>
                z13579@std.kiis.ac.jpがG Suiteのアカウント名になります。</li>
            <li>初期パスワードについては生年月日8桁+z学籍番号となります。<br>
                （例：学籍番号が13579、誕生日が1990年1月1日の場合、初期パスワードは「19900101z13579」）</li>
        </ul>
    </div>
</div>

{% endblock %}




