<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500&amp;family=Noto+Sans+JP:wght@100;200;300;400;500&amp;display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500&amp;family=Noto+Sans+JP:wght@100;200;300;400;500&amp;display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <title>九州情報大学Q&A</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
    </head>

    <body>
        <div class="cursor"></div>
        <div class="follower"><p class="view">View</p></div>
        <!-- <p class="menu">MENU</p> -->
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle index_menu" id="hover">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
        
        <div id="sidebarMenu" class="left">
            <div class="sidebarbrock1">
                <h2 class="External_links">External links</h2>
                <a class="sidebar_title" href="/index">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></a>
                <ul class="External" >
                    <li><a href="https://www.kiis.ac.jp/">九州情報大学HP</a></li>
                    <li><a href="https://kiis-web.campusplan.jp/gakusei/web/CplanMenuWeb/UI/LoginForm.aspx">CampusPlan</a></li>
                    <li><a href="http://service.kiis.ac.jp/">情報処理室</a></li>
                    <li><a href="https://kiis.online">出席くん</a></li>
                    <li><a href="https://www.kiis.ac.jp/gakunai/enkaku">遠隔授業スケジュール</a></li>
                    <!-- <li><a href="/school_info"></a></li> -->
                    <li><a>LINE(KIIS BOT)</a></li>
                </ul>
            </div>
            <div class="sidebarbrock2">
                <a class="smart_title" href="/index">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></a>
                <h2 class="Internal_links">Internal links</h2>
                <ul class="sidebarMenuInner" >
                    <li><a href="/index">Home</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/qalist">All Articles</a></li>
                    <!-- <li><a href="/school_info"></a></li> -->
                    <li><a>LINE(KIIS BOT)</a></li>
                </ul>
                    <!-- <svg viewBox="0 0 100 100" width="100" height="100">
                        <defs>
                        <path id="circle"
                            d="
                            M 50, 50
                            m -37, 0
                            a 37,37 0 1,1 74,0
                            a 37,37 0 1,1 -74,0"/>
                        </defs>
                        <text font-size="8">
                        <textPath xlink:href="#circle">
                            KIIS BOT　KIIS BOT　KIIS BOT　KIIS BOT　KIIS BOT　KIIS BOT
                        </textPath>
                        </text>
                        <div class="image_line"><img src="/static/images/mockup1.png" alt="mockup"></div>
                    </svg> -->
            </div>
        </div>
        <header class="index_header">
            <ul class="header_menu">
                <li><a href="/index">Home</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/qalist">All Articles</a></li>
                <!-- <li><a href="/school_info"></a></li> -->
                <li><a>LINE(KIIS BOT)</a></li>
            </ul>
                
        </header>
        
        <div class="top">
            <!-- <p class="topp">Kyushu Institute of Information Sciences 
                Frequently Asked Questions</p> -->
            <h1 class="title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1>
            <!-- <a href="#bottom"><span></span></a> -->
        </div>
        <!-- <div class="middle">

        </div> -->
        <div class="description"　>
            <div class="content">
                <h2 id="first_title">FAQ</h2>
                <div class="image1"><img src="/static/images/keyboard.png" alt="keyboard"></div>
                <h2 id="first_title2">FAQ</h2>
                <div class="sentence1">
                    <h3>よくある質問</h3>
                    <p>九州情報大学では一人一台PCを使用していますが、設定や使用するソフトなどわからないことも多いと思います。</p>
                    <p>そこでPCクリニックでよく受ける質問について回答をまとめました。</p>
                    <a class="read" href="/faq"><div class="circle"><span class="arrow"></span></div><div class="read_p">READ MORE</div></a>
                    <div class="button"><a class="read_small" href="/faq"><p>READ MORE</p></a></div>
                </div>
            </div>
            <div class="content">
                <div class="image2"><img src="/static/images/room.png" alt="room"></div>
                <h2 id="second_title">All Articles</h2>
                <div class="sentence2">
                    <h3>全ての記事</h3>
                    <P>九州情報大学ネットワーク利用ガイドラインの内容を中心に
                        PCのセットアップや<br>ネットワークの設定など詳しく
                        記載したものをまとめています。</P>
                        <a class="read" href="/qalist"><div class="circle"><span class="arrow"></span></div><div class="read_p">READ MORE</div></a>
                        <div class="button"><a class="read_small" href="/qalist"><p>READ MORE</p></a></div>
                </div>
                <div class="image3"><img src="/static/images/desk.png" alt="desk"></div>
            </div>
        </div>
        <!-- <h2 id=faq>よくある質問</h2>
        <h2 id="sub">PCの設定</h2>
        <div class="cp_qa">
            <div class="cp_actab">
                <input id="cp_tabfour021" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour021" id="hover">PCのsetupの方法を教えてください。</label>
                <div class="cp_actab-content"><p><a href="{{url_for('setup')}}">こちら</a>にsetupの方法一覧が記載してあるので参考にしてください。また、初回の情報リテラシーの授業時に
                    渡されたSurfin'the Internet via Kiis-Net (九州情報大学ネットワーク利用ガイドライン)にも同じ内容
                が記載してあります。</p></div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour022" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour022" id="hover">ウイルス対策ソフト何を使うべきですか？</label>
                <div class="cp_actab-content">特に指定はありません。PCCにてインストールできるウイルスバスターのほか、個人で使用しているものでも構いません。
                    大学で使用するPCには必ずウイルス対策ソフトをインストールしてください。<a href="{{url_for('virusbuster_pcc')}}"><p>ウイルスバスターのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour023" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour023" id="hover">webメールの使い方を教えてください。</label>
                <div class="cp_actab-content">こちらに詳しく記載しています。ブラウザでアクセスがうまくいかない場合はGoogle chromeを使用してください。</div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour024" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour024" id="hover">shareフォルダの作成方法を教えてください</label>
                <div class="cp_actab-content">デスクトップで右クリック→新規作成→ショートカット→「¥¥svr260007¥share」を入力→
                    （ユーザー名:kiisnw¥z学籍番号　パスワード:ネットワークのパスワード）を入力　で作成できます。
                </div>
            </div>
        </div>
        <h2 id="sub">Officeについて</h2>
        <div class="cp_qa">
            <div class="cp_actab">
                <input id="cp_tabfour025" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour025" id="hover">Officeをインストールしたいです。</label>
                <div class="cp_actab-content">Officeのインストールは学生個人ではできません。PCクリニックで対応しているので
                    PCクリニックでスタッフに相談してください。<a href="{{url_for('office_pcc')}}"><p>Officeのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>

            </div>
            <div class="cp_actab">
                <input id="cp_tabfour026" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour026" id="hover">Officeの画面でIDとパスワードの入力を求める画面が消えません。</label>
                <div class="cp_actab-content">Officeのインストールは学生個人ではできません。PCクリニックで対応しているので
                    PCクリニックでスタッフに相談してください。<a href="{{url_for('office_pcc')}}"><p>Officeのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>
            </div>
        </div> -->
    <!-- ページトップへ戻るボタン -->
    <p class="pagetop" style="display: block;">
    <a href="#">
    <i class="fas fa-chevron-up"></i>
    </a>
    </p>
    <div class="wrapper_footer">
        <footer>
            <div class="footer_block">
                <h2 class="footer_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h2>    
                <ul class="footer_menu">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/index#faq">FAQ</a></li>
                    <li><a href="/qalist">All Articles</a></li>
                    <!-- <li><a href="/school_info"></a></li> -->
                    <li><a>LINE(KIIS BOT)</a></li>
                </ul>
            </div>
        </footer>
    
        
    </body>
    <script src="/static/js/change.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/index.js"></script>
</html>