<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <title>九州情報大学Q&A</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css" />
    </head>

    <body>
       
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
      
        <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
                <li id=title><a href="/index">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></a></li>
                <li><a href="/index#faq">よくある質問</a></li>
                <li><a href="/qalist">記事一覧</a></li>
                <li><a href="/school_info">学生生活について</a></li>
                <li><a>LINE(KIISbot)</a></li>
            </ul>
        </div>
        
        <div class="top">
            <h1>KIIS FAQ</h1>
            <a href="#bottom"><span></span></a>
        </div>
        <div class="description"　>
            <div class="content" id="bottom">
                <h2>こちらは九州情報大学のQ&Aサイトです！</h2>
                <p class="moji">九州情報大学のPCクリニックでよく質問を受ける内容についてまとめました。
                    PCを使っていて困ったらこのサイトを見て参考にしてみてください！また、わからないことや自分で解決できないことがあれば
                    PCクリニックに来て、相談してください。一緒に問題を解決できるようにスタッフが対応します！
                </p>
            </div>
        </div>
        <h2 id=faq>よくある質問</h2>
        <h2 id="sub">PCの設定</h2>
        <div class="cp_qa">
            <div class="cp_actab">
                <input id="cp_tabfour021" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour021">PCのsetupの方法を教えてください。</label>
                <div class="cp_actab-content"><p><a href="{{url_for('setup')}}">こちら</a>にsetupの方法一覧が記載してあるので参考にしてください。また、初回の情報リテラシーの授業時に
                    渡されたSurfin'the Internet via Kiis-Net (九州情報大学ネットワーク利用ガイドライン)にも同じ内容
                が記載してあります。</p></div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour022" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour022">ウイルス対策ソフト何を使うべきですか？</label>
                <div class="cp_actab-content">特に指定はありません。PCCにてインストールできるウイルスバスターのほか、個人で使用しているものでも構いません。
                    大学で使用するPCには必ずウイルス対策ソフトをインストールしてください。<a href="{{url_for('virusbuster_pcc')}}"><p>ウイルスバスターのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour023" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour023">webメールの使い方を教えてください。</label>
                <div class="cp_actab-content">こちらに詳しく記載しています。ブラウザでアクセスがうまくいかない場合はGoogle chromeを使用してください。</div>
            </div>
            <div class="cp_actab">
                <input id="cp_tabfour024" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour024">shareフォルダの作成方法を教えてください</label>
                <div class="cp_actab-content">デスクトップで右クリック→新規作成→ショートカット→「¥¥svr260007¥share」を入力→
                    （ユーザー名:kiisnw¥z学籍番号　パスワード:ネットワークのパスワード）を入力　で作成できます。
                </div>
            </div>
        </div>
        <h2 id="sub">Officeについて</h2>
        <div class="cp_qa">
            <div class="cp_actab">
                <input id="cp_tabfour025" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour025">Officeをインストールしたいです。</label>
                <div class="cp_actab-content">Officeのインストールは学生個人ではできません。PCクリニックで対応しているので
                    PCクリニックでスタッフに相談してください。<a href="{{url_for('office_pcc')}}"><p>Officeのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>

            </div>
            <div class="cp_actab">
                <input id="cp_tabfour026" type="checkbox" name="tabs">
                <div class="cp_plus">+</div>
                <label for="cp_tabfour026">Officeの画面でIDとパスワードの入力を求める画面が消えません。</label>
                <div class="cp_actab-content">Officeのインストールは学生個人ではできません。PCクリニックで対応しているので
                    PCクリニックでスタッフに相談してください。<a href="{{url_for('office_pcc')}}"><p>Officeのインストール手順はこちら（PCCメンバー限定）</p></a>
                </div>
            </div>
        </div>
    <!-- ページトップへ戻るボタン -->
    <p class="pagetop" style="display: block;">
    <a href="#">
    <i class="fas fa-chevron-up"></i>
    </a>
    </p>
    <footer>
        <h1>KIIS FAQ</h1>
        <div class='header'><a href="/index#faq">よくある質問</a></div>
        <div class='header'><a href="/qalist">記事一覧</a></div>
        <div class='header'><a href="/school_info">学生生活について</a></div>
        <div class='header'><a>LINE(KIISbot)</a></div>
    </footer>
  
    </body>
    <script src="/static/js/change.js"></script>
    <script src="/static/js/main.js"></script>
</html>