{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>￥が上手く入力できない状態について</h2>
    <p class="red">日本語以外の状態で￥を入力しようとすると出来ない状態やkiisnwの前に￥が入力されてしまう状態を改善する方法です</p>
    <div class="block">
        <h4>パターン①</h4>
        <p>日本語Microsoft IME以外で入力すると出るバグのようなので変更（windows+スペース）を押して切り替える。</p>
        <h4>パターン②</h4>
        <p>US配置キーボードの場合BackspaceとEnterキーの間にある「」キーもしくは「ぬ」キーもしくは「₩」を押すとまたは￥が入力される。</p>
        <h4>パターン③</h4>
        <p>上記でも入力できなかった場合は</p>
        <p>「設定」→「時刻と言語」→「言語」→優先する言語の日本語の「オプション」→「レイアウトを変更する」</p>
        <p>からパソコンのキーボード配置にあったレイアウトに変更すると入力できる。</p>
    </div>
</div>

{% endblock %}




