{% extends "layout.html" %}
{% block content %}

<div class="kiisbot">
        <!-- <div class="kiis_top start">

        </div>
        <div class="end"></div> -->
        <div class="arrowWrap">
            <div class="arrow">
                <span></span>
                <p>scroll</p>
            </div>
        </div>
        <div class="left">
            <div class="kiis_thumbnail" id="kiis_thum_top">
                <img src="/static/images/mockup_top.png" alt="mockup_top">
            </div>

            <div class="kiis_thumbnail" id="kiis_thum1">
                <img src="/static/images/question.png" alt="question">
            </div>

            <div class="kiis_thumbnail" id="kiis_thum2">
                <img src="/static/images/warn.png" alt="warn">
                <!-- <img src="/static/images/allarticle.png" alt="faq"> -->
            </div>

            <div class="kiis_thumbnail" id="kiis_thum3">
                <img src="/static/images/mockup_q.png" alt="mockup_q">
                <!-- <img src="/static/images/allarticle.png" alt="faq"> -->
            </div>

            <div class="kiis_thumbnail" id="kiis_thum4">
                <img src="/static/images/mockup_q2.png" alt="mockup_q2">
                <!-- <img src="/static/images/allarticle.png" alt="faq"> -->
            </div>

            <div class="kiis_thumbnail" id="kiis_thum5">
                <img src="/static/images/mockup_menu.png" alt="mockup_menu">
                <!-- <img src="/static/images/allarticle.png" alt="faq"> -->
            </div>

            <div class="kiis_thumbnail" id="kiis_thum6">
                <img src="/static/images/mockup_bus.png" alt="mockup_bus">
                <!-- <img src="/static/images/allarticle.png" alt="faq"> -->
            </div>
        </div>
        <div class="right kbres">
            <div class="content" id="kiisbot_title">
                <img id="line_text" src="/static/images/line_text.png" alt="faq">
                <h1 id="main_title">KIIS BOT</h1><h5>九州情報大学<span id="green">LINE</span>アカウント</h5>
                <div class="line_add"><a href="https://lin.ee/v2tG7jE"><p>友達追加はこちら</p></a></div>
                
                <!-- <p>QRコード</p><img src="https://qr-official.line.me/sid/M/426vzlzt.png"> -->
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
            <div class="content" id="kiis_co1">
                <!-- <h3>九州情報大学LINEアカウント</h3> -->
                <h2 id="kiis_first_title">九州情報大学の学生のみなさんを<br>サポートします！</h2>
                <h2 id="kiis_first_title_res">九州情報大学の学生の<br>みなさんをサポートします！</h2>
                <div class="kiis_thumbnail_res" id="kiis_thum_res1">
                    <img src="/static/images/mockup_top.png" alt="mockup_top">
                </div>
                <div class="sentence">
                    <p>九州情報大学LINEアカウントの<br>KIISBOTです</p>
                    <p>PCクリニックに代わってPCに関する<br>簡単な質問に答えます！</p>
                    <p>そのほかにも学校生活で便利な機能が<br>たくさんあるので、ぜひ友達追加<br>してください！</p>
                    
                </div>
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
            <div class="content" id="kiis_co2">
                <h2 id="second_title">はじめに</h2>
                <div class="sentence">
                    
                    <p class="red">以下の２つを必ず守るように<br>してください。</p>
                    <P>・追加したらまず<br>　「学籍番号」と「名前」を<br>　入力してください</P>
                    <p>・こちらは九州情報大学専用の<br>　LINEアカウントとなっています。<br>　在学生以外の方にこのアカウントを<br>　教えないようにしてください。</p>
                </div>
            </div>
            
            <div class="content" id="kiis_co3">
                <h2 id="second_title">質問の方法</h2>
                <div class="kiis_thumbnail_res" id="kiis_thum_res2">
                    <img src="/static/images/mockup_q.png" alt="mockup_q">
                </div>
                <div class="sentence">
                    <p>KIIS BOTはPCクリニックに代わってPCのトラブルに回答します。</p>
                    <p>質問はメニューの左下のボタンから<br>できます。</p>
                </div>
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
            <div class="content" id="kiis_co4">
                <div class="kiis_thumbnail_res" id="kiis_thum_res3">
                    <img src="/static/images/mockup_q2.png" alt="mockup_q2">
                </div>
                <div class="sentence">
                    <p>ボタンの他に直接チャットで<br>質問もできます。</p>
                    <p>以下のような質問をしてみてください</p>
                    <h4>例</h4>
                    <p>ネットワークに接続できない</p>
                    <p>パソコンの電源が入らない</p>
                </div>
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
            <div class="content" id="kiis_co5">
                <h2 id="second_title">Menu</h2>
                <div class="kiis_thumbnail_res" id="kiis_thum_res4">
                    <img src="/static/images/mockup_menu.png" alt="mockup_menu">
                </div>
                <div class="sentence">
                    <p>主に学校生活で使用するものは<br>メニューにまとめています。</p>
                    <p>それぞれのボタンを押して<br>利用してください</p>
                </div>
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
            <div class="content" id="kiis_co6">
                <h2 id="second_title">スクールバス運行表</h2>
                <div class="kiis_thumbnail_res" id="kiis_thum_res5">
                    <img src="/static/images/mockup_bus.png" alt="mockup_bus">
                </div>
                <div class="sentence">
                    <p>スクールバス運行表のボタンからは<br>３つの選択肢が送信されます。</p>
                    <p>時刻表の他、大学発と太宰府駅発の<br>直近のバスの時刻を教えてくれます。</p>
                </div>
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
        </div>

</div>
<script src="/static/js/kiisbot.js"></script>
{% endblock %}