{% extends "layout.html" %}
{% block content %}

<div class="kiisbot">
        <div class="kiis_top start">

        </div>
        <div class="end"></div>
        <div class="left">
            <div class="thumbnail" id="thum1">
                <img src="/static/images/faq.png" alt="faq">
            </div>

            <div class="thumbnail" id="thum2">
                <img src="/static/images/allarticle.png" alt="faq">
            </div>
        </div>
        <div class="right">
            <div class="content" id="co1">
                <h3>九州情報大学LINEアカウント</h3>
                <h2 id="kiis_first_title">KIISBOT</h2>
                <div class="sentence">
                    <p>九州情報大学LINEアカウントのKIISBOTです</p>
                    <p>PCクリニックに代わって簡単な質問に答えます！</p>
                    <p>そのほかにも学校生活で便利な機能がたくさんあるので</p>
                    <p>ぜひ友達追加してください！</p>
                </div>
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
            <div class="content" id="co2">
                <h2 id="second_title">はじめに</h2>
                <div class="sentence">
                    
                    <p class="red">以下の２つを必ず守るようにしてください。</p>
                    <P>友達に追加したらまず「学籍番号」と「名前」を入力してください</P>
                    <p>こちらは九州情報大学専用のLINEアカウントとなっています。在学生以外の方にこのアカウントを教えないようにしてください。</p>
                </div>
            </div>
            <div class="content" id="co3">
                <h2 id="second_title">使い方</h2>
                <div class="sentence">
                    <p>主に使う項目についてはメニューにまとめています。</p>
                    <p>メニューボタン</p>
                </div>
                <!-- <h1 class="center_title">KIIS FAQ <span>九州情報大学Q＆Aサイト</span></h1> -->
            </div>
        </div>

</div>

{% endblock %}