<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <title>九州情報大学Q&A</title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body class="is-slide" id="page-animate">
    <header id='header'>
        <h1><a href="/index">KIIS Q&A</a></h1>
        
            <div><a href="/pc_info">PCについて</a></div>
            <div><a href="/nw_info">NWについて</a></div>
            <div><a href="/school_info">学校生活について</a></div>
            <div>LINE</div>
       
    </header>
 
    <div class="flex">
        
        {% block content %}{% endblock %}
        <script src="/static/js/change.js"></script>
        <script src="/static/js/main.js"></script>
    </div>
    <p class="pagetop" style="display: block;">
        <a href="#">
        <i class="fas fa-chevron-up"></i>
        </a>
        </p>
    </body>
</html>