{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>ネットワークパスワードについて</h2>
    <p>ネットワークパスワードは６ヶ月間有効です。その６ヶ月の有効期限が過ぎてしまうと、学内ネットワークを利用することが出来ません。そのようなことが起こらないように、
        パスワードの変更を有効期限前に行うようにしてください。<br>
        （学外からは変更が出来ませんので、注意してください。）
        </p>
    <p>また、ネットワークのパスワードはユーザー名が「kiisnw¥z学籍番号」のパスワードです。履修登録の際に使用するパスワードとは異なるため注意してください。</p>
    <p>主に使用する場面は図書室のパソコンへのログイン、Wi-fiの設定、共有フォルダへのアクセスなどです。</p>
    <hr class="cp_hr05" />
    
    <div class="block">
        <h4>ネットワークパスワードの変更方法</h4>
        <ol type="1">
            <li>次のURLにアクセスします。（学内からのみアクセス可能）</li>
            <div class="imgbox">
                <img src="/static/images/nw_password/nw_password1.png" alt="nw_password1">
            </div>
            <li>下のような画面が出たら、アカウントに[z学籍番号]、古いパスワードに[現在使用しているパスワード]、
                新しいパスワード・新しいパスワードの確認入力には、4.3節「ネットワークパスワードの注意点」や、
                右側のパスワードの作成例などを参考にして新しいパスワードを作り、入力してください。入力が終わったらOKボタンをクリックします。</li>
                <div class="imgbox">
                    <img src="/static/images/nw_password/nw_password2.png" alt="nw_password2">
                </div>
            <li>以下のような完了画面が出たら、そのまま５分ほど待ってから新しいパスワードを使用するようにしてください。</li>
            <div class="imgbox">
                <img src="/static/images/nw_password/nw_password3.png" alt="nw_password3">
            </div>
            <li>※ 以上でパスワード変更は完了です。ネットワークに接続できない場合は次ページの内容をご確認ください。</li>
        </ol>
    </div>
</div>

{% endblock %}