{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>ネットワークドライブの割り当て</h2>
    <p>本学では、1GBの容量を持つ、ネットワークドライブが利用できます。<br>
        ここでは、パソコンにこのネットワークドライブをS ドライブとして割り当てる方法を
        説明します。S ドライブは、学内のどの場所からでも、どのパソコンからでも利用できます。
        有意義に活用するようにしてください。<br>
        また、S ドライブはログオンしたユーザー専用のドライブです。 他の人との共有は出来ません。
        </p>
    <div class="block">
        <h4>Windows OS</h4>
        <ol type="1">
            <li>スタートボタンを右クリックし、エクスプローラーをクリックします。</li>

            <li>PCを右クリックし、ネットワークドライブの割り当てをクリックします。</li>

            <li>「ドライブ」に「S:」を選択、「フォルダ」に「\\svr260007\std\z学籍番号」を入力し、完了ボタンをクリックします。</li>

            <li>認証画面が表示されたら、kiisnw\z学籍番号・配布されたパスワードを入力し、OKボタンをクリックします。</li>

            <li>認証に成功すると、自動的に S ドライブの中身が表示されます。</li>
        </ol>
        <h4>Mac OS</h4>
        <ol type="1">
            <li>デスクトップ左上のメニューバーから移動をクリックし、サーバーへ接続をクリックします。</li>

            <li>サーバアドレスに「smb://svr260007/share」を入力し、接続をクリックします。</li>

            <li>名前とパスワードを入力するように求められるので、z学籍番号 パスワードを入力して接続をクリックします。</li>
            
            <li>認証に成功したら、自動的に中身が表示されます。</li>
        </ol>
    </div>
    <div class="block">
        <h4>ファイルサーバ活用法</h4>
    </div>
</div>

{% endblock %}
