{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>Officeの画面でIDとパスワードの入力を求める画面が消えない時の対処法</h2>
    <div class="block">
        <p>スタートボタンを右クリック後、エクスプローラをクリックします。</p>
        <p>PCを右クリックして、プロパティを選択</p>
        <p>システム画面が表示されたら設定の変更をクリックします。</p>
        <p>コンピュータの説明に自分の名前を入力</p>
        <p>例)情報太郎 → Joho Taro </p>
        <p>下の変更をクリックします。</p>
        <p>コンピューター名/ドメイン名の設定画面が表示されたら</p>
        <p>コンピューター名: CMBLz学籍番号</p>
        <p>ワークグループを選択しその下に「KIISNW」と入力してOKボタンを押す。</p>
        <p>画面の指示に従い、再起動する。</p>
        <p>以上でPCのワークグループの参加設定は終了です。</p>
    </div>
</div>

{% endblock %}