{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>Microsoft Outlook 2019の設定</h2>
    <p class="red">※2020年度以降に入学された方向けの内容です。</p>
    <div class="block">
        <ol type="1">
            <li>スタートボタンをクリックしてOutlookを選択します。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook1.png" alt="outlook1">
            </div>
            <li>Outlookの画面が表示されたら、詳細オプションをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook2.png" alt="outlook2">
            </div>
            <li>メールアドレスに「z学籍番号」を入力し、自分で自分のアカウントを手動で設定にチェックを入れ、接続をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook3.png" alt="outlook3">
            </div>
            <li>OPをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook4.png" alt="outlook4">
            </div>
            <li>受信メールのサーバーに「stdmail.kiis.ac.jp」、ポートに「995」、<br>
                受信メールのこのサーバーでは暗号化された接続(SSL/TLS)が必要にチェックを入れ<br>
                送信メールのサーバーに「smtp.kiis.ac.jp」を入力し<br>
                送信メールの暗号化方法を自動に変更し、次へをクリックします。
            </li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook5.png" alt="outlook5">
            </div>
            <li>パスワードに「ネットワークのパスワード」を入力し、接続をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook6.png" alt="outlook6">
            </div>
            <li>「アカウントのセットアップが完了しました」の表示がされたら、<br>
                Outlook Mobileをスマートフォンにも設定するのチェックを外し、<br>
                OKをクリックします。<br>
                ※エラーが発生した場合は、入力したパスワードやサーバー等の入力情報が<br>
                正しいかをチェックし、再試行して下さい。<br>
            </li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook7.png" alt="outlook7">
            </div>
            <li>Outlookの画面が表示されたら、ファイルをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook8.png" alt="outlook8">
            </div>
            <li>アカウント設定をクリックして、アカウント設定をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook9.png" alt="outlook9">
            </div>
            <li>「アカウント設定」画面が表示されます。変更をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook10.png" alt="outlook10">
            </div>
            <li>名前を「あなたの名前」に変更し、電子メールアドレスに「@std.kiis.ac.jp」を追加したら、詳細設定をクリックします</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook11.png" alt="outlook11">
            </div>
            <li>詳細設定タブをクリックして、サーバーにメッセージのコピーを置くのチェックを外し、OKをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook12.png" alt="outlook12">
            </div>
            <li>次へをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook13.png" alt="outlook13">
            </div>
            <li>「アカウント設定のテスト」画面が表示されます。両方とも「完了」と表示されたことを確認して、閉じるをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook14.png" alt="outlook14">
            </div>
            <p>もし「完了」と表示されていない場合は、設定が間違っている場合があります。手順⑪に戻って確認しましょう。</p>
            <li>「すべて完了しました」の画面が表示されたら、完了をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook15.png" alt="outlook15">
            </div>
            <li>閉じるをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/outlook/outlook16.png" alt="outlook16">
            </div>
            <li>表示タブをクリックし、閲覧ウィンドウを選択後、オフをクリックします。</li>
            <div class="imgbox2">
                <img src="/static/images/outlook/outlook17.png" alt="outlook17">
            </div>
            <p>※　以上でOutlookの設定は終了です。</p>
        </ol>
    </div>
</div>

{% endblock %}