{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>PCが起動しない・電源が入らない時時</h2>
    
    <p class="red">※windows10の場合の対処方法になります。</p>
    <div class="block">
        <h2>試して欲しいこと</h2>
        <ol type="1">
            <li>電源ケーブルを確認する</li>
            <p>電源ケーブルがコンセントかパソコンに正常に差し込まれているかどうか確認する。</p>
            <p>同時に、電源ケーブルに汚れや破損がないかを確認する(発火する可能性があるため)</p>
            <p>また、友人のケーブルを挿してみるなどしてケーブルの異常でないか確認する。</p>
            <li>外部機器やディスクをすべて取り外す</li>
            <p>CDやDVD、USB接続による外部機器などをPCに繋いだままだとそれらの記録メディアが
                Windowsやパソコンそのものに影響を及ぼしてしまう可能性があるため、</p>
            <p>一度すべての外部機器やドライブに挿入されているディスクを取り外し再起動してみる</p>
        </ol>
        <br>
        <p class="red">ここまで確認してうまくいかない場合、また、下記のような症状の場合はPCクリニックに一度PCを持ってきてください</p>
        <ul>
            <li>電源が全く入らない</li>
            <li>起動するが画面がつかない</li>
            <li>電源は入るがWindowsが起動しない</li>
        </ul>
    </div>
</div>

{% endblock %}