{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h1>All Articles</h1>
    <h2>記事一覧</h2>
    <p id="center">PCクリニックでよく受ける質問のほか、PCのセットアップなどの手順をまとめたので参考にしてください</p>
    <p id="center">もちろんPCクリニックに来ていただけたらこちらの内容も対応します！</p>
    <div class="list">
        <div class="list_block">        
            <h4 class="anstitle">PCの設定について</h4>
            <ul class="ans">
                <li><a href="{{url_for('setup')}}">setupの手順について</a></li>
                <li><a href="{{url_for('kiisnw')}}">KIISNWネットワークの設定について</a></li>
                <li><a href="{{url_for('nw_info')}}">無線LAN(Wi-fi)の接続について</a></li>
                <li><a href="{{url_for('share')}}"> shareフォルダの作成方法</a></li>
                <li><a href="{{url_for('nw_password')}}">ネットワークパスワードについて</a></li>
                <li><a href="{{url_for('nw_miss')}}">パスワード変更後にネットワークが使用できない場合の対処</a></li>
                <li><a href="{{url_for('power')}}">PCが起動しない・電源が入らない（Windows）</a></li>
            </ul>
        </div>
        <div class="list_block">
            <h4 class="anstitle">授業で使用するソフトウェアについて</h4>
            <ul class="ans">
                <li><a href="{{url_for('install_std')}}">授業で使用するソフトウェアのインストール</a></li>
                <li><a href="{{url_for('office_id')}}"> Officeを開くたびにIDとパスワードを聞かれる状態について</a></li>
                <li><a href="{{url_for('virus')}}"> ウイルス対策ソフトについて</a></li>
                <li><a href="{{url_for('outlook')}}">Microsoft Outlook 2019の設定</a></li>
            </ul>
        </div>
        <div class="list_block">
            <h4 class="anstitle">その他（メール等）について</h4>
            <ul class="ans">
                <li><a href="{{url_for('webmail')}}">Web Mail サービスの利用方法</a></li>
                <li><a href="{{url_for('webmail_connect')}}">webメールにアクセスできない場合の対処</a></li>
                <li>「¥」がうまく入力できない場合</li>
                <li><a href="{{url_for('gsuite')}}"> G suiteの初期設定</a></li>
                <li><a href="{{url_for('nwdrive')}}">ネットワークドライブの割り当て</a></li>
                <li><a href="{{url_for('bootcamp')}}"> MacのPCでWindowsを動かす方法</a></li>
                <li><a href="{{url_for('connect')}}"> ネットワークに接続できないとき</a></li>
            </ul>
        </div>
        
    </div>
</div>

{% endblock %}