{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>setupアカウントの作成方法</h2>
    <p id="center">setupアカウントは非常用のため作成をお願いします。通常は使用しないでください。</p>
    <hr class="cp_hr05" />
    <p class="red">※windows10のsetupアカウント作成手順です。Macの場合はPCクリニックに相談してください。</p>
    <div class="block">
        <ul>
            <li>他に作成済みのアカウントがない場合</li>
            <li>すでに他に作成済みのアカウントがある場合</li>
        </ul>
        <h3 class="subtitle">他に作成済みのアカウントがない場合</h3>
        <h4>①.アカウント設定</h4>
        <ol type="1">
            <p>~まずは初期設定を進めます~</p>
            <li id="li_top">ユーザー名とパスワードを設定する画面が表示されたら、ユーザー名 : [ setup ]　と入力し「次へ」をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup1.png" alt="setup1">
            </div>
            <p>パスワード : なし</p>
            <p class="red">※何も入力せず「次へ」をクリックします。（パスワードは後で設定します。）</p>
            <div class="imgbox2">
                <img src="/static/images/setup/setup2.png" alt="setup2">
            </div>
            <p>〜アカウント作成を最後まで進めます〜</p>
            <h4>②.管理者アカウントの追加とパスワード設定</h4>
            <li>デスクトップ画面が表示されます。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup3.png" alt="setup3">
            </div>
            <li>スタートボタンをクリックし、設定ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup4.png" alt="setup4">
            </div>
            <li>Windowsの設定画面が表示されます。アカウントをクリックします。</li>
            <div class="imgbox2">
                <img src="/static/images/setup/setup5.png" alt="setup5">
            </div>
            <li>まずはsetupアカウントのパスワードを設定します。サインインオプションをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup6.png" alt="setup6">
            </div>
            <li>パスワードをクリックして追加ボタンをクリックします。</li>
            <div class="imgbox2">
                <img src="/static/images/setup/setup7.png" alt="setup7">
            </div>
            <li> パスワードの作成画面が表示されます。
                パスワード入力欄に「苗字のアルファベット最初の一文字＋学籍番号」、
                パスワードのヒント欄に「 」（空白文字を一文字）を入力し、
                次へボタンをクリックします。
            </li>
            <div class="imgbox2">
                <img src="/static/images/setup/setup8.png" alt="setup8">
            </div>
            <li>完了ボタンをクリックします。これでsetupアカウントのパスワードの設定は完了です。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup9.png" alt="setup9">
            </div>
            <li>次に管理者アカウントの作成を行います。</li>
            <li>元の画面に戻り家族とその他のユーザーをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup10.png" alt="setup10">
            </div>
            <li>その他のユーザーをこのPCに追加をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup11.png" alt="setup11">
            </div>
            <li>ユーザー名、パスワード、パスワードを忘れた場合のヒントを入力し、次へをクリックします。</li>
            <li>（ヒントに関して：画像は例です。実際は自分で分かりやすい分かりやすい質問と答えを設定するようにしてください）</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup12.png" alt="setup12">
            </div>
            <li>家族とその他ユーザーの画面に戻るので作成した自分のアカウント（例ではTaro）をクリックし、</li>
            <li>アカウントの種類の変更ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup13.png" alt="setup13">
            </div>
            <li>「管理者」を選択して、OKボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup14.png" alt="setup14">
            </div>
            <li>管理者に変更できたことを確認したら最後にPCを再起動します。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup15.png" alt="setup15">
            </div>
            <p>以上で設定完了です。</p>
        </ol>
    </div>
    <br><br>
    <div class="block">
        <h3 class="subtitle">すでに他に作成済みのアカウントがある場合</h3>
        <ol>
            <li id="li_top">デスクトップ画面でスタートボタンを右クリックし、設定を選択します。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup4.png" alt="setup4">
            </div>
            <li>Windowsの設定画面が表示されます。アカウントをクリックします。</li>
            <div class="imgbox2">
                <img src="/static/images/setup/setup5.png" alt="setup5">
            </div>
            <li>その他のユーザーをこのPCに追加をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup11.png" alt="setup11">
            </div>
            <li>ユーザー名、パスワード、パスワードを忘れた場合のヒントを入力します。</li>
            <p>ユーザー名 : [ setup ]</p>
            <p>パスワード : [苗字の頭文字 + 学籍番号]</p>
            <p>パスワードのヒント : [　(半角スペース)　]</p>

            <li>家族とその他ユーザーの画面に戻るので作成した「setup」をクリックし、アカウントの種類の変更ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup13.png" alt="setup13">
            </div>
            <li>「管理者」を選択して、OKボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup14.png" alt="setup14">
            </div>
            <li>管理者に変更できたことを確認したら最後にPCを再起動します。</li>
            <div class="imgbox">
                <img src="/static/images/setup/setup15.png" alt="setup15">
            </div>
            <p>以上で設定完了です。</p>
        </ol>
    </div>
</div>

{% endblock %}
