{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>setupアカウントの作成方法</h2>
    <p id="center">setupアカウントは非常用のため作成をお願いします。通常は使用しないでください。</p>
    <hr class="cp_hr05" />
    <p class="red">※windows10のsetupアカウント作成手順です。Macの場合はPCクリニックに相談してください。</p>
    <div class="block">
        <h3 class="subtitle">①他に作成済みのアカウントがない場合</h3>
        <h4>1.アカウント設定</h4>
        <p>まずは初期設定を進めます。</p>
        <p>ユーザー名とパスワードを設定する画面が表示されたら、ユーザー名 : [ setup ]　と入力し「次へ」をクリックします。</p>
        <div class="imgbox">
            <img src="/static/images/setup1.png" alt="setup1">
        </div>
        <p>パスワード : なし</p>
        <p class="red">※何も入力せず「次へ」をクリックします。（パスワードは後で設定します。）</p>
        <div class="imgbox2">
            <img src="/static/images/setup2.png" alt="setup2">
        </div>
        <p>〜アカウント作成を最後まで進めます〜</p>
        <h4>2.管理者アカウントの追加とパスワード設定</h4>
        <p>デスクトップ画面が表示されます。</p>
        <div class="imgbox">
            <img src="/static/images/setup3.png" alt="setup3">
        </div>
        <p>スタートボタンをクリックし、設定ボタンをクリックします。</p>
        <div class="imgbox">
            <img src="/static/images/setup4.png" alt="setup4">
        </div>
        <p>Windowsの設定画面が表示されます。アカウントをクリックします。</p>
        <div class="imgbox2">
            <img src="/static/images/setup5.png" alt="setup5">
        </div>
        <p>まずはsetupアカウントのパスワードを設定します。サインインオプションをクリックします。</p>
        <div class="imgbox">
            <img src="/static/images/setup6.png" alt="setup6">
        </div>
        <p>パスワードをクリックして追加ボタンをクリックします。</p>
        <div class="imgbox2">
            <img src="/static/images/setup7.png" alt="setup7">
        </div>
        <p> パスワードの作成画面が表示されます。
            パスワード入力欄に「苗字のアルファベット最初の一文字＋学籍番号」、
            パスワードのヒント欄に「 」（空白文字を一文字）を入力し、
            次へボタンをクリックします。
        </p>
        <div class="imgbox2">
            <img src="/static/images/setup8.png" alt="setup8">
        </div>
        <p>完了ボタンをクリックします。これでsetupアカウントのパスワードの設定は完了です。</p>
        <div class="imgbox">
            <img src="/static/images/setup9.png" alt="setup9">
        </div>
        <p>パスワード設定まで完了しました。次に管理者アカウントの作成を行います。</p>
        <br>
        <p>元の画面に戻り家族とその他のユーザーをクリックします。</p>
        <p>その他のユーザーをこのPCに追加をクリックします。</p>
        <p>ユーザー名、パスワード、パスワードを忘れた場合のヒントを入力します。</p>
        <p>家族とその他ユーザーの画面に戻り作成した自分のアカウントをクリックします。</p>
        <p>アカウントの種類の変更ボタンをクリックし、管理者を選択します。</p>
        <p>管理者に変更できたことを確認したら最後にPCを再起動します。</p>
        <p>以上で設定完了です。</p>
    </div>
    <br><br>
    <div class="block">
        <h3 class="subtitle">②すでに他に作成済みのアカウントがある場合</h3>
        <p>デスクトップ画面が表示されたらスタートボタンを右クリックし、設定を選択します。</p>
        <p>アカウントをクリックします。</p>
        <p>その他のユーザーをこのPCに追加をクリックします。</p>
        <p>ユーザー名、パスワード、パスワードを忘れた場合のヒントを入力します。</p>
        <p>ユーザー名 : [ setup ]</p>
        <p>パスワード : [苗字の頭文字 + 学籍番号]</p>
        <p>パスワードのヒント : [　(半角スペース)　]</p>
        <p>家族とその他ユーザーの画面に戻り作成したsetupアカウントをクリックします。</p>
        <p>アカウントの種類の変更ボタンをクリックし、管理者を選択します。</p>
        <p>管理者に変更できたことを確認したら最後にPCを再起動します。</p>
        <p>以上で設定完了です。</p>
    </div>
</div>

{% endblock %}
