{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>setupアカウントの作成方法</h2>
    <hr>

    <h3 class="subtitle">① 初めてアカウントを作成する場合</h3>
    <div class="block">
        <p>ユーザー名とパスワードを設定する画面が表示されたら、</p>
        <p>ユーザー名 : [ setup ]</p>
        <p>パスワード : [苗字の頭文字 + 学籍番号]</p>
        <p>パスワードのヒント : [　(半角スペース)　]</p>
        <p>これらを入力して「次へ」をクリックします。</p>
       
    </div>
    <br>
    <br>
    <h3 class="subtitle">② すでに他のアカウントがPCに存在する場合</h3>
    <div class="block">
        <p>ユーザー名とパスワードを設定する画面が表示されたら、</p>
        <p>ユーザー名 : [ setup ]</p>
        <p>パスワード : なし</p>
        <p class="red">※ここではパスワードは設定しません</p>
        <p>〜アカウント作成を最後まで進めます〜</p>
        <p>デスクトップ画面が表示されたらスタートボタンを右クリックします</p>
        <p>一覧からコントロールパネルを選択します</p>
        <p>ユーザーアカウントをクリックします</p>
        <p>もう一度、ユーザーアカウントをクリックします</p>
        <p>PC設定でアカウントを変更をクリックします</p>
        <p>サインインオプションをクリックします</p>
        <p>ユーザーアカウントをクリックします</p>
        <p>パスワード : [苗字の頭文字 + 学籍番号]</p>
        <p>パスワードのヒント : [　(半角スペース)　]</p>
        <p>これらを入力して「次へ」をクリックします。</p>
    </div>
</div>

{% endblock %}