{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>shareフォルダの設定</h2>
    <hr class="cp_hr05" />
    <ul>
        <li>shareフォルダへの接続(Windows)</li>
        <li>shareフォルダのショートカットをデスクトップに作る方法(Windows)</li>
        <li>shareフォルダへの接続(Mac)</li>
    </ul>
    <div class="block">
        <h3 class="subtitle">①shareフォルダへの接続(Windows)</h3>
        <ol type="1">
            <li>エクスプローラをクリックする</li>
            <li>PCを右クリックして「」</li>    
        </ol>
    </div>

    <div class="block">
        <h3 class="subtitle">②shareフォルダのショートカットをデスクトップに作る方法(Windows)</h3>
        <ol type="1">    
        </ol>
    </div>

    <div class="block">
        <h3 class="subtitle">③shareフォルダへの接続(Mac)</h3>
        <ol type="1">    
        </ol>
    </div>

</div>

{% endblock %}