{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>shareフォルダの設定</h2>
    <hr class="cp_hr05" />
    <div class="block">
        <h3 class="subtitle">①shareフォルダへの接続(Windows)</h3>
        <ol type="1">
            <li>エクスプローラをクリックする</li>
            <li>PCを右クリックして「」</li>    
        </ol>
    </div>

    <div class="block">
        <h3 class="subtitle">②shareフォルダのショートカットをデスクトップに作る方法(Windows)</h3>
        <ol type="1">
            <li>デスクトップで右クリックする</li>
            <li>新規作成→ショートカットの順に選択する</li>  
            <li>「¥¥svr260007¥share」と入力する</li>
            <p>（ユーザー名:kiisnw¥z学籍番号　パスワード:ネットワークのパスワード）を入力　</p>
        </ol>
    </div>

    <div class="block">
        <h3 class="subtitle">③shareフォルダへの接続(Mac)</h3>
        <ol type="1">
            <li>Finderをクリックする</li>
            <li>右上の「移動」→「サーバへ接続」をクリック</li>
            <li>「smb://svr260007/share」と入力</li>
            <li>ユーザー名「z学籍番号」 パスワード:ネットワークのパスワードを入力</li>    
        </ol>
    </div>

</div>

{% endblock %}

デスクトップで右クリック→新規作成→ショートカット→「¥¥svr260007¥share」を入力→ （ユーザー名:kiisnw¥z学籍番号　パスワード:ネットワークのパスワード）を入力　