{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>ウイルス対策ソフトについて</h2>
    <div class="block">
        <p>大学で使用するPCには必ずウイルス対策ソフト（Anti Virus）をインストールしてください。</p>
        <p>使用するソフトに指定はありません。</p>
        <p>大学でインストールできるものはウイルスバスターになります。ライセンスは一人一つです。</p>
        <a href="{{url_for('install_std')}}">授業で使用するソフトウェアのインストール</a>
        <p>PCを買い替えたり、故障等で別のパソコンにインストールする場合は、以前使用していたPCを持ってきてください</p>
        <p>（故障したPCも持ってくる）</p>   
        
    </div>
</div>

{% endblock %}




