{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>Webメールにうまくアクセスできない場合</h2>
    
    <div class="block">
        <p>ページが開けない時は使用しているブラウザを確認して、
            Microsoft Edgeを使用している場合はブラウザをGoogle chromeなどに変更してみてください</p>

        <p>ログイン時にStudentになっているか、z学籍番号とネットワークのパスワードを間違えていないかを確認してください。
        </p>

        <p>また、G Suite for Educationが利用可能となったため、こちらも参考にしてください</p>
        <a href="{{url_for('gsuite')}}">九州情報大学G Suite for Educationについて</a>
    </div>
</div>

{% endblock %}