{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>Wi-fiの接続方法（Windows）</h2>
    <hr class="cp_hr05" />
    <p class="red">※Windowsの場合の設定方法です。Mac,Android,iPhoneはそれぞれ別のページに記載してあります。</p>
    <p><a href="/nw_info">NWについて</a></p>
    <div class="block">
        <h3 class="subtitle">①証明書のダウンロードが完了していない場合</h3>
        <p><a href="{{url_for('kiisnw')}}">こちら</a>を参考に証明書のダウンロードを行ってください。</p>
        <br>
        <h3 class="subtitle">②証明書のダウンロードがすでに完了している場合</h3>
        <ol>
            <li>デスクトップ画面でスタートボタンをクリックし、設定ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win1.png" alt="lan_win1">
            </div>
            <li>「ネットワークとインターネット」をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win2.png" alt="lan_win2">
            </div>
            <li>ネットワークと共有センターをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win3.png" alt="lan_win3">
            </div>
            <li>次の画面が表示されるので、新しい接続またはネットワークのセットアップをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win4.png" alt="lan_win4">
            </div>
            <li>「接続オプションを選択します」画面では、「ワイヤレスネットワークに手動で接続します」を選択し、次へボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win5.png" alt="lan_win5">
            </div>
            <li>次の画面が表示されたら、各項目を下記のとおりに設定します。</li>
            <p class="red">ネットワーク名：KIISWLAN（※全て大文字で入力してください）</p>
            <p class="red">セキュリティの種類：WPA2-エンタープライズ</p>
            <li>その後、「ネットワークがブロードキャストを行っていない場合でも接続する」にチェックを入れて、次へボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win6.png" alt="lan_win6">
            </div>
            <li>次に「KIISWLAN」の接続設定を変更します。「接続の設定を変更します」をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win7.png" alt="lan_win7">
            </div>
            <li>プロパティ画面のセキュリティタブを開き、「ネットワークの認証方法の選択」部分の設定ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win8.png" alt="lan_win8">
            </div>
            <li>「信頼されたルート証明機関」部分のkiisCA.kiis.ac.jpにチェックを入れ、OKボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win9.png" alt="lan_win9">
            </div>
            <li>「KIISWLANワイヤレスネットワークのプロパティ」画面に戻ったら、詳細設定ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win10.png" alt="lan_win10">
            </div>
            <li>「認証モードを指定する」をクリックしてチェックを入れOKボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win11.png" alt="lan_win11">
            </div>
            <li>「ワイヤレスネットワークのプロパティ」画面に戻るのでOKボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win12.png" alt="lan_win12">
            </div>
            <li>デスクトップ画面に戻り、スタートボタンをクリックし、設定ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win13.png" alt="lan_win13">
            </div>
            <li>「ネットワークとインターネット」をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win14.png" alt="lan_win14">
            </div>
            <li>「Wi-Fi」の項目をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win15.png" alt="lan_win15">
            </div>
            <li>利用できるネットワークの表示をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win16.png" alt="lan_win16">
            </div>
            <li>「KIISWLAN」を選択し、接続ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win17.png" alt="lan_win17">
            </div>
            <li>「ネットワーク資格情報の入力」画面が表示されるので、 kiisnw\z学籍番号・ネットワーク用パスワードをそれぞれ入力し、OKボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win18.png" alt="lan_win18">
            </div>
            <li>「接続を続けますか？」と表示された場合、接続ボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win19.png" alt="lan_win19">
            </div>
            <li>「KIISWLAN」に「接続済み」と表示されていれば完了です。</li>
            <div class="imgbox">
                <img src="/static/images/lan_win/lan_win20.png" alt="lan_win20">
            </div>
            <p>以上でWindows10でのKIISWLANの設定は終了です。</p>

        </ol>
    </div>
</div>

{% endblock %}