{% extends "layout.html" %}
{% block content %}
<div class="left"></div>
<div class="main">
    <h2>Wi-fiの接続方法（Windows）</h2>
    <hr class="cp_hr05" />
    <p class="red">※Windowsの場合の設定方法です。Mac,Android,iPhoneはそれぞれ別のページに記載してあります。</p>
    <p><a href="/nw_info">NWについて</a></p>
    <div class="block">
        <h3 class="subtitle">①証明書のダウンロードが完了していない場合</h3>
        <p>こちら　で証明書のインストールを行ってください。</p>
        <p>*証明書の有無は「左下の検索欄に『証明書』と入力し、ユーザー管理の証明書を選択→</p>
        <p>　信頼されたルート証明期間→証明書→kiisCA.kiis.ac.jp」があるかを確認してください。</p>
        <h3 class="subtitle">②証明書のダウンロードが完了している場合</h3>
        <p>スタートボタンをボタンをクリックし、設定ボタンをクリックします。</p>
        <p>ネットワークとインターネットをクリックします。</p>
        <p>画面下部のネットワークと共有センターをクリックします。</p>
        <p>新しい接続またはネットワークのセットアップをクリックします。</p>
        <p>「接続オプションを選択します。」の画面では「ワイヤレスネットワークに手動で接続します」を選択して次へをクリックします。</p>
        <p>次の画面が表示されたら各項目を次の通り入力してください。</p>
        <p>ネットワーク名: KIISWLAN (全て大文字)</p>
        <p>セキュリティの種類: WPA2-エンタープライズ</p>
        <p>「ネットワークが」ブロードキャストを行っていない場合でも接続するにチェックを入れて次へをクリックします。</p>
        <p>次にKIISWLANの接続設定をします。「接続の設定を変更します」をクリックします</p>
        <p>プロパティ画面のセキュリティタブを開き、「ネットワークの認証方法の選択」部分の設定ボタンをクリックします。</p>
        <p>「信頼されたルート証明機関」部分のkiisCA.kiis.ac.jpにチェックを入れOKボタンをクリックします。</p>
        <p>「KIISWLANワイヤレスネットワークのプロパティ」画面に戻ったら、詳細設定ボタンをクリックします。</p>
        <p>「認証モードを指定する」にチェックを入れOKボタンをクリックします。</p>
        <p>スタートボタンをボタンをクリックし、設定ボタンをクリックします。</p>
        <p>ネットワークとインターネットをクリックします。</p>
        <p>Wi-Fiの項目から「利用できるWi-Fi」を選択し利用できるネットワークの表示をクリックします。</p>
        <p>「KIISWLAN」をクリックし、ユーザー名とパスワードを入力します。</p>
        <p>ユーザー名: kiisnw¥z学籍番号</p>
        <p>パスワード: ネットワークのパスワード</p>
        <p>以上で完了です。</p>
    </div>
   
</div>

{% endblock %}