{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>Wi-fiの接続方法（iOS）</h2>
    <hr class="cp_hr05" />
    <div class="block">
        <ol type="1">
            <li>設定画面からWi-Fiをタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios1.png" alt="ios1">
            </div>
            <li>「Wi-Fi」をオンに切り替え、近くにあるアクセスポイントへ接続します。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios2.png" alt="ios2">
            </div>
            <li>パスワード入力画面が表示された場合は下記のパスワードを入力し、接続します。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios3.png" alt="ios3">
            </div>
            <li>接続したSSID名の横に✔マークが表示されていることを確認します。<br>
                （例では「pcc-guest」に接続）</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios4.png" alt="ios4">
            </div>
            <li>ウェブブラウザを開き、アドレス入力欄に「service.kiis.ac.jp」と入力し、本学のサービス提供サイトへ接続します（GoogleChromeは非推奨）。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios5.png" alt="ios5">
            </div>
            <li>無線LANをタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios6.png" alt="ios6">
            </div>
            <li>iOS・MacOSボタンをタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios7.png" alt="ios7">
            </div>
            <li>プロファイル画面が表示されるので、インストールをタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios8.png" alt="ios8">
            </div>
            <li>警告画面が表示されるので、右上のインストールをタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios9.png" alt="ios9">
            </div>
            <li>インストールをタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios10.png" alt="ios10">
            </div>
            <li>「ユーザー名入力画面」が表示されるので、z学籍番号を入力し、次へをタップします</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios11.png" alt="ios11">
            </div>
            <li>「パスワード入力画面」が表示されるので、ネットワークのパスワードを入力し、次へをタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios12.png" alt="ios12">
            </div>
            <li>「インストール完了画面」が表示されるので、右上の完了をタップします。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios13.png" alt="ios13">
            </div>
            <li>「Wi-Fi設定画面」に戻り、「KIISWLAN」をタップ後、SSID名の横に✔マークが表示されれば完了です。</li>
            <div class="imgbox">
                <img src="/static/images/ios/ios14.png" alt="ios14">
            </div>
            <p>※以上でiOSでのKIISWLANの設定は終了です。</p>
        </ol>
    </div>

</div>

{% endblock %}




