{% extends "layout.html" %}
{% block content %}

<div class="main">
    <h2>>Wi-fiの接続方法（Mac OS）</h2>
    <hr class="cp_hr05" />
    <div class="block">
        <ol type="1">
            <li>本学のサービス提供サイト（http://service.kiis.ac.jp/）にアクセスし、サービスメニューにある無線LANから証明書のダウンロードのリンクを右クリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac1.png" alt="mac1">
            </div>
            <li>リンク先のファイルをダウンロードをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac2.png" alt="mac2">
            </div>
            <li>画面右上の ボタンを押してKIISWLANmobileconfigをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac3.png" alt="mac3">
            </div>
            <li>続けるボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac4.png" alt="mac4">
            </div>
            <li>続けるボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac5.png" alt="mac5">
            </div>
            <li>z学籍番号・パスワードをそれぞれ入力しインストールをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac6.png" alt="mac6">
            </div>
                <li>「＜」をクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac7.png" alt="mac7">
            </div>
            <li>ネットワークをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac8.png" alt="mac8">
            </div>
            <li>Wi-FiをクリックしてKIISWLANを選択します。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac9.png" alt="mac9">
            </div>
            <li>資格情報を入力する画面が現れるので、z学籍番号・パスワードを入力してOKボタンをクリックします。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac10.png" alt="mac10">
            </div>
            <li>「Wi-Fi」に「接続済み」と表示されていれば完了です。</li>
            <div class="imgbox">
                <img src="/static/images/mac/mac11.png" alt="mac11">
            </div>
            <p>※以上でMacOSでのKIISWLANの設定は終了です。</p>
        </ol>
    </div>
</div>

{% endblock %}




